<ng-include src="'/templates/funds/_flash.html'"></ng-include>
<ng-include ng-if="currency == 'cny'" src="'/templates/funds/deposit_cny.html'"></ng-include>
<ng-include ng-if="currency == 'btc'" src="'/templates/funds/deposit_btc.html'"></ng-include>
<ng-include ng-if="currency == 'czr'" src="'/templates/funds/deposit_czr.html'"></ng-include>
<ng-include ng-if="currency == 'tet'" src="'/templates/funds/deposit_tet.html'"></ng-include>
<ng-include ng-if="currency == 'ltc'" src="'/templates/funds/deposit_ltc.html'"></ng-include>
<ng-include ng-if="currency == 'rdd'" src="'/templates/funds/deposit_rdd.html'"></ng-include>
<ng-include ng-if="currency == 'wdc'" src="'/templates/funds/deposit_wdc.html'"></ng-include>
